<h1>Listing recipes</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
  </tr>

<% @recipes.each do |recipe| %>
  <tr>
    <td><strong><%= link_to recipe.name, recipe %></strong></td>
    <td><i class="icon-trash"></i><%= link_to 'Delete', recipe, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<p>
  <%= form_tag('/recipes/add_url') do %>
   <%= text_field_tag 'url' %>
    <%= button_tag do
      content_tag(:strong, 'Add Recipe by Url')
    end %>
  <% end %>
</p>

<p>
  <%= link_to 'Add your own Recipe', new_recipe_path %>
</p>


<p>
  <%= link_to 'Cataloged Sites', :controller => :sites, :action => :cataloged %>
</p>
