<% if params[:tag].blank? %>
  <h1>Your recipes</h1>
<% else %>
  <h1><%= params[:tag].capitalize %></h1>
<% end %>

<%= paginate @recipes %> 

<table class="table table-striped table-condensed">

<% @recipes.each do |recipe| %>
  <tr>
    <td><strong><%= link_to recipe.name, recipe %></strong></td>
    <td>
      <%= link_tags recipe.tags %>
    </td>
    <td><i class="icon-trash"></i><%= link_to 'Delete', recipe, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<div class="clearfix">
  <p class="add_recipe">
    <%= link_to 'Add your own Recipe', new_recipe_path, :class => 'btn' %>
  </p>

  <p>
    <%= form_tag(recipes_add_url_path, { :class => "form-horizontal"}) do %>
     <%= text_field_tag 'url' %>
      <%= button_tag do
        'Add Recipe by Url *'
      end %>
    <% end %>
  </p>
</div>

<p>
  * You can only Add Recipe by Url if the site has been cataloged. <%= link_to 'Add a Site', :controller => :sites, :action => :cataloged %> to request a site to be cataloged.
</p>

<p class="bookmarklet">
  <div>
    Drag the link below to your bookmark folder to add recipes in one click
  </div>
  <a href="javascript:(function(){ window.open('<%= recipes_add_url_url %>?url='+encodeURIComponent(location.href)); })();" class="btn btn-success">My Recipe Savour</a>

</p>
