<% content_for :head do %>
  <%= javascript_include_tag "recipe" %>
<% end %>
<p id="notice"><%= notice %></p>
<form>
  <input type="hidden" name="recipe_id" id="recipe_id" value="<%= @recipe.id %>" />
  <h1><%= @recipe.name %></h1>
  <div>
    Number of people: <%= @recipe.num_people %>
  </div>

  <div>
    <strong>Ingredients</strong>
  </div>

  <ul>
    <% @ingredients.each do |ingredient| %>
      <li><%= ingredient.formatted_content %></li>
    <% end %>
  </ul>

  <div>
    <strong>Methods</strong>
  </div>

  <ol>
    <% @instructions.each do |instructions| %>
      <li><%= instructions.formatted_content %></li>
    <% end %>
  </ol>  


  
</form>
<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
