<% content_for :head do %>
  <%= javascript_include_tag "recipe" %>
<% end %>

<h1><%= @recipe.name %></h1>
<% unless @recipe.url.blank? %>
  <div class="original_recipe_link">
    <%= link_to "Original Recipe", @recipe.url%>
  </div>
<% end %>

<% unless @recipe.image.blank? %>
  <div>
    <%= image_tag @recipe.image %>
  </div>
<% end %>
<div>
  <strong>Number of people:</strong> <%= @recipe.num_people %>
</div>

<div>
  <strong>Ingredients</strong>
</div>

<ul>
  <% @ingredients.each do |ingredient| %>
    <li><%= ingredient.formatted_content %></li>
  <% end %>
</ul>

<div>
  <strong>Methods</strong>
</div>

<ol>
  <% @instructions.each do |instructions| %>
    <li><%= instructions.formatted_content %></li>
  <% end %>
</ol>

<form id="js_category_form">
  <input type="hidden" name="recipe_id" id="recipe_id" value="<%= @recipe.id %>" />
  <div>
    <strong>Categories</strong> <span class="btn btn-mini" id="js_edit_categories">Update</span>
  </div>  
  <div id="js_category_display">
    <% unless @recipe.tag_list.blank? %>
      <%= link_tags @recipe.tags %> 
    <% end %>
  </div>
  <div id="js_category_input" class="initially_invisible">
    <%= text_field_tag 'recipe[tag_list]', comma_tags(@recipe.tags) %> <span class="btn btn-mini btn-primary" id="js_save_categories">Save</span>
  </div>
</form>

<div class="btn-group">
  <%= link_to 'Edit', edit_recipe_path(@recipe), :class => 'btn' %>
</div>
