<% content_for :head do %>
  <%= javascript_include_tag "recipe" %>
<% end %>
<form>
  <input type="hidden" name="recipe_id" id="recipe_id" value="<%= @recipe.id %>" />
  <h1><%= @recipe.name %></h1>
  <div>
    <strong>Number of people:</strong> <%= @recipe.num_people %>
  </div>

  <div>
    <strong>Ingredients</strong>
  </div>

  <ul>
    <% @ingredients.each do |ingredient| %>
      <li><%= ingredient.formatted_content %></li>
    <% end %>
  </ul>

  <div>
    <strong>Methods</strong>
  </div>

  <ol>
    <% @instructions.each do |instructions| %>
      <li><%= instructions.formatted_content %></li>
    <% end %>
  </ol>

  
  <div>
    <strong>Categories</strong>
  </div>  
  <p>
    <% unless @recipe.tag_list.blank? %>
      <%= link_tags @recipe.tags %>
    <% else %>
      <%= link_to 'Add Categories', edit_recipe_path(@recipe) %> 
    <% end %>
  </p>
  

  <% unless @recipe.url.blank? %>
    <p>
      <%= link_to "Original Recipe", @recipe.url%>
    </p>
  <% end %>
  
</form>
<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
