<% content_for :head do %>
  <%= javascript_include_tag "recipe" %>
<% end %>
<p id="notice"><%= notice %></p>
<form>
  <div>
    Name: <%= @recipe.name %>
  </div>
  <div>
    Description: <%= @recipe.description %>
  </div>
  <div>
    Number of people: <%= @recipe.num_people %>
  </div>
  <div>
    <strong>Instructions</strong>
  </div>
  <ol>
  <% @instructions.each do |instruction| %>
    <li>
      <%= instruction.content %>
    </li>
  <% end %>
  </ol>

  <div>
    <strong>Ingredients</strong>
  </div>
  <table>
    <thead>
      <tr>
        <th>
          Amount
        </th>
        <th>
          Ingredient
        </th>
      </tr>
    </thead>
    <tbody>
      <% @ingredients.each do |ingredient| %>
        <tr class="ingredient" data-ref="<%=ingredient.id%>">
          <td>
            <input type="text" value="<%= ingredient.amount %>" class="amount" />
          </td>
          <td>
             <input type="text" value="<%= ingredient.content %>" class="ingredient_item" />
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div>
    <strong>Methods</strong>
  </div>
  <table>
    <thead>
      <tr>
        <th>
          Method
        </th>
        <th>
          Duration (in minutes)
        </th>
      </tr>
    </thead>
    <tbody>
      <% @instructions.each do |instructions| %>
        <tr data-ref="<%instructions.id%>">
          <td>
            <input type="text" value="<%= instructions.content %>" class="method" id="<%=instructions.id%>" />
          </td>
          <td>
             <input type="text" value="<%= instructions.length_in_minutes %> minute(s)" class="duration" id="<%=instructions.id%>" />
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  
</form>
<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
