<!DOCTYPE html>
<html lang="en">
<head>
  <title>MyRecipeSavour</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="/recipes">My Recipe Savour</a>
        <% if user_signed_in? %>
          <ul class="nav">
            <li>
              <%= link_to 'Recipes', recipes_path %>
            </li>
            <li>
              <%= link_to 'Add a Site', :controller => :sites, :action => :cataloged %>
            </li>
          </ul>
        <% end %>
        <ul class="nav pull-right">
          <% if user_signed_in? %>
            <li class="navbar-text"><%= current_user.email %></li>
            <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
          <% else %>
            <li><%= link_to "Sign up", new_user_registration_path %></li>
            <li><%= link_to "Sign in", new_user_session_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="container" id="main-body">
    <% if notice %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert"><%= alert %></p>
    <% end %>

    <%= yield %>
  </div>
</body>
</html>
